@import url("https://fonts.googleapis.com/css?family=Kalam:400,700|Open+Sans:300,400,600");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

.container {
  margin: 20px;
  flex-wrap: wrap;
}

h1,
h2,
h3,
h4 {
  font-family: "Kalam", cursive;
  font-weight: 700;
}

a {
  text-decoration: none;
}
a:hover {
  transition: 0.5s ease;
}

.header1 {
  background: #454b51;
  background-image: url(../img/header1.png);
  height: 50vh;
  background-position: center;
  background-size: cover;
  display: flex;
  text-align: center;
  justify-content: center;
}
.header1 .portfolio {
  background: linear-gradient(rgba(69, 75, 81, 0.5), rgba(69, 75, 81, 0.5));
  padding: 100px;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
.header1 .portfolio h1 {
  color: #dd3116;
  font-size: 2.6rem;
  font-weight: 400;
  text-shadow: 1px 1px #83898f;
}

/***nav***/
.fixed-nav nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
@media (max-width: 768px) {
  .fixed-nav nav {
    justify-content: space-between;
  }
}
.fixed-nav nav .logo {
  display: block;
}
@media (max-width: 768px) {
  .fixed-nav nav .logo {
    font-size: 1.1rem;
  }
}

nav {
  display: flex;
  position: relative;
  background: #454b51;
  padding: 10px 20px;
}
nav .logo {
  color: #00519d;
  font-family: "Kalam", cursive;
  font-size: 2.6rem;
  font-weight: 400;
  text-shadow: 1px 1px #83898f;
  display: none;
}
nav .logo:hover {
  text-shadow: 2px 2px #83898f;
  transition: 0.5s ease;
}
nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}
@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
  }
}
nav ul a {
  margin-left: 25px;
  color: #dd3116;
  font-family: "Kalam", cursive;
  font-size: 1.3rem;
}
@media (max-width: 768px) {
  nav ul a {
    margin: 10px;
    font-size: 1rem;
  }
}
nav ul a:hover {
  color: #83898f;
}
nav .bars {
  display: none;
}
@media (max-width: 768px) {
  nav .bars {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
  }
}
nav .bars .bar {
  width: 25px;
  height: 3px;
  background: #dd3116;
  margin: 3px;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}
nav .bars-open .bar:nth-child(1) {
  transition: transform 0.2s ease-in-out;
  transform: rotate(45deg) translate(6.5px, 6px);
}
nav .bars-open .bar:nth-child(2) {
  opacity: 0;
}
nav .bars-open .bar:nth-child(3) {
  transition: transform 0.2s ease-in-out;
  transform: rotate(-45deg) translate(6.5px, -6.5px);
}
@media (max-width: 768px) {
  nav .nav-menu {
    display: none;
    background: #454b51;
    position: absolute;
    top: 47px;
    left: 0;
    width: 100%;
    z-index: 1;
  }
  nav .nav-menu a {
    color: #fff;
  }
  nav .nav-menu a:hover {
    color: #dd3116;
    transition: 0.5s ease;
  }
}
@media (min-width: 769px) {
  nav .nav-menu {
    display: flex !important;
  }
}

/***header***/
header {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url(../img/header.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  header {
    height: 60vh;
  }
}
header .container {
  opacity: 0.7;
  border: 3px solid #454b51;
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
  flex: 0 0 50%;
  text-align: center;
  padding: 15px;
}
header .container h1 {
  font-size: 3rem;
  color: #dd3116;
}
header .container h2,
header .container p {
  color: #454b51;
}
header .container button {
  background: #dd3116;
  color: #fff;
  padding: 10px 50px;
  font-family: "Kalam", cursive;
  border: none;
  box-shadow: 2px 2px 0 #00519d;
  font-size: 1.3rem;
  font-weight: 700;
  margin-top: 20px;
  cursor: pointer;
}
header .container button:hover {
  color: #00519d;
  box-shadow: -2px -2px 0 #00519d;
}

/***interests***/
#interests {
  text-align: center;
}
#interests h2 {
  margin-top: 50px;
  font-family: "Kalam", cursive;
  font-size: 5rem;
  font-weight: 400;
  color: #454b51;
}
@media (max-width: 768px) {
  #interests h2 {
    font-size: 3.5rem;
  }
}
#interests h2::after {
  display: block;
  content: "";
  background: #dd3116;
  height: 10px;
  width: 150px;
  margin: 0 auto 50px auto;
}
@media (max-width: 768px) {
  #interests h2::after {
    width: 80px;
  }
}
#interests .container {
  display: flex;
  justify-content: space-between;
}
#interests .container article {
  flex: 0 0 32%;
  border: 1px solid #e4e4e4;
  position: relative;
}
@media (max-width: 768px) {
  #interests .container article {
    flex: 0 0 100%;
  }
}
#interests .container article img {
  width: 100%;
}
#interests .container article .corner {
  position: absolute;
  top: 0;
  right: 0;
  background: #dd3116;
  opacity: 0.8;
  padding: 10px;
  font-weight: 700;
}
#interests .container article h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 5px;
}
#interests .container article h2::after {
  height: 5px;
  width: 50px;
  margin-top: 15px;
}
#interests .container article p {
  color: #454b51;
  margin: 30px;
}

/*** skills***/
#skills {
  text-align: center;
  background: #000;
}
#skills h2 {
  margin-top: 50px;
  font-family: "Kalam", cursive;
  font-size: 5rem;
  font-weight: 400;
  color: #454b51;
}
@media (max-width: 768px) {
  #skills h2 {
    font-size: 3.5rem;
  }
}
#skills h2::after {
  display: block;
  content: "";
  background: #dd3116;
  height: 10px;
  width: 150px;
  margin: 0 auto 50px auto;
}
@media (max-width: 768px) {
  #skills h2::after {
    width: 80px;
  }
}
#skills h2 {
  color: #fff;
}
#skills .container {
  display: flex;
  justify-content: space-between;
}
#skills .container article {
  flex: 0 0 32%;
}
@media (max-width: 768px) {
  #skills .container article {
    flex: 0 0 100%;
  }
}
#skills .container article i {
  color: #dd3116;
  font-size: 4.5rem;
}
@media (max-width: 768px) {
  #skills .container article i {
    font-size: 2.5rem;
  }
}
#skills .container article h3 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #fff;
  margin-top: 20px;
}
@media (max-width: 768px) {
  #skills .container article h3 {
    font-size: 1.3rem;
  }
}
#skills .container article p {
  color: #fff;
  font-weight: 400;
  font-size: 1.1rem;
  margin-bottom: 20px;
}

/*** portfolio ***/
#portfolio {
  text-align: center;
}
#portfolio h2 {
  margin-top: 50px;
  font-family: "Kalam", cursive;
  font-size: 5rem;
  font-weight: 400;
  color: #454b51;
}
@media (max-width: 768px) {
  #portfolio h2 {
    font-size: 3.5rem;
  }
}
#portfolio h2::after {
  display: block;
  content: "";
  background: #dd3116;
  height: 10px;
  width: 150px;
  margin: 0 auto 50px auto;
}
@media (max-width: 768px) {
  #portfolio h2::after {
    width: 80px;
  }
}
#portfolio .container {
  display: flex;
}
#portfolio .container article {
  flex: 0 0 50%;
}
#portfolio .container article img {
  width: 100%;
  display: block;
}

/***contact***/
footer {
  background: #dd3116;
  padding-bottom: 20px;
  text-align: center;
}
footer h2 {
  margin-top: 50px;
  font-family: "Kalam", cursive;
  font-size: 5rem;
  font-weight: 400;
  color: #454b51;
}
@media (max-width: 768px) {
  footer h2 {
    font-size: 3.5rem;
  }
}
footer h2::after {
  display: block;
  content: "";
  background: #dd3116;
  height: 10px;
  width: 150px;
  margin: 0 auto 50px auto;
}
@media (max-width: 768px) {
  footer h2::after {
    width: 80px;
  }
}
footer h2 {
  color: #000;
}
footer h2::after {
  background: #000;
}
footer i {
  font-size: 2.5rem;
  color: #000;
  margin: 0 15px 20px 15px;
  cursor: pointer;
}
footer i:hover {
  color: #454b51;
}
footer p {
  font-family: "Kalam", cursive;
  font-weight: 700;
}

/*# sourceMappingURL=style.css.map */
